$accentColor = #2ea5ff
//body::-webkit-scrollbar{
//    width 8px
//}
//body::-webkit-scrollbar-thumb {
//    background-color #c1c1c1
//    border-radius 4px
//}
//body::-webkit-scrollbar-track{
//    background-color #f1f1f1
//    //border-left: 1px solid #ccc;
//}
//body::-webkit-scrollbar-thumb:hover {
//    background-color #a8a8a8
//}

.theme-container {
    strong{
        color #2c3e50
    }
    .content h1{
        font-size30px
        line-height30px
    }

    blockquote{
        background-color rgba(255,229,100,0.3)
        border-color #e7c000
        color #525252
        padding 0.3rem 1.5rem
        border-left-width 0.5rem
        border-left-style solid
        margin 1rem 0
    }
    blockquote p {
        margin 0
        font-size 16px
    }
    blockquote p a{
        font-weight 500
        color #2ea5ff
        text-decoration none !important
    }
    blockquote p a:hover {
        text-decoration none
    }
    blockquote h1,blockquote h2{
        // border-bottomnone
        padding-bottom 0.3rem
        border-bottom 1px solid #eaecef
    }
    a,a:hover{
        text-decoration none !important
    }
    textarea{
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        background: #f5f2f0;
        color: #690;
        padding: 15px 15px;
    }
    textarea:focus{
        outline-color: #2ea5ff;
    }

}


.theme-container.home-page {

}

// 自定义主页样式
html,body,#app,.home-page{
    height 100%
}
.theme-container.home-page{
    display flex
    flex-direction column
    .custom-layout{
        flex 1
    }
       
}
    

.theme-container{
    div[class*="language-"] {
        background-color: #f5f2f0;
        border-radius: 6px;
    }
    .content pre code, .content pre[class*="language-"] code {
        color: black !important;
    }
    :not(pre) > code[class*="language-"], pre[class*="language-"] {
        background: #f5f2f0 !important;
    }
    div[class*="language-"]:before {
        color: black;
    }
} 

.theme-container.tip-page{
    blockquote{
        background-color #f8f8f8
        border-color#c1c1c1
        padding 0.6rem 0.6rem
        margin 0
        blockquote{
            background-color #f8f8f8
            border-color #c1c1c1
            padding 0.3rem 0.6rem
            margin 10px
        }
    }
    .h1,.h2,.h3,.h4,.h5,.h6{
        padding-bottom 0.3em
        margin-top 24px
        margin-bottom 16px
        font-weight 600
        line-height 1.25
    }
    .h1{
        font-size 2em
        border-bottom 1px solid #eaecef
    }
    .h2{
        font-size 1.5em
        border-bottom 1px solid #eaecef
    }
    .h3{
        font-size 1.25em
    }
    .h4{
        font-size 1em
    }
    .h5{
        font-size 0.875em
    }
    .h6{
        font-size 0.85em
    }
    .custom-block.warning{
        padding 0.3rem 1.5rem
        p{
            margin 0
        }
    }


}